/* =============================================================================
   
   Custom Stylesheet

   All changes made in this file will override the default styles.
   ========================================================================== */
   
   /*New Style*/
   .modal-content{ max-width: 600px; margin: 0px auto; box-shadow: 0 0 6px #d9d9d9; border: 1px solid #dcdcdc; background-color: #ffffff; border-radius:0px; padding:30px; }
   .modal-header{ border-bottom: 1px dashed #00a3ff; padding:0px;}
   .modal-body{ padding:0px; margin:35px 0px 45px 0px;}
   .panel-title{ color: #0f68b2; font-size: 20px; font-weight: 400; text-transform: uppercase; margin:15px 0px 30px 0px;}
   .modal-footer{ border-top: 1px dashed #00a3ff; padding:0px;}
   .form-group label{ color: #90a1b5; font-size: 15px; font-weight: 400; line-height: 14px;}
   .select2-container--default .select2-selection--single{ max-width: 600px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #fffff;}
   .input-group{ max-width: 600px; height: 42px; border-radius: 5px;  background-color: #ffffff;}
   .input-group .datepicker{ max-width: 600px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; border-right: none; color: #000000;  font-size: 16px; font-weight: 400; line-height: 18px;}
   .input-group .input-group-addon{ background-color:#fff; border-right: 1px solid #e0e7ee; border-top: 1px solid #e0e7ee; border-bottom: 1px solid #e0e7ee; border-left: none;}
   .input-group .input-group-addon .fa-calendar{ color:#90a1b5;}
   .form-group #invoice_password{ max-width: 600px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;}
   /*.select2-container--default .select2-selection--single .select2-selection__rendered{ color: #000000;  font-size: 16px; font-weight: 400; line-height: 30px;}*/
   .modal-footer .btn-group .btn{ margin:0px; padding:0px;}
   .modal-footer .btn-group .btn-success{ float:right;  background:none; border:none; color: #00a3ff; font-size: 18px; font-weight: 400; text-transform: uppercase; margin-top:30px;}
   .modal-footer .btn-group .btn-success .fa-check{ display: none;}
   .modal-footer .btn-group .btn-danger{ background:none; border:none; color: #7d8b9b; font-size: 18px; font-weight: 400; text-transform: uppercase; margin-top:30px; padding-right:30px;}
   .input-group #toggle_permissive_search_clients{display: none;}
   
   /*#main-area{ max-width: 1300px; height: auto; margin:0px auto; box-shadow: 0 0 6px #d9d9d9; border: 1px solid #dcdcdc; background-color: #ffffff;*/
   #headerbar h1.headerbar-title{ color: #000000;font-size: 16px;font-weight: 400; line-height: 60px;}
   #headerbar .headerbar-item .options { min-width: 192px; height: 42px; border-radius: 5px; border: 1px solid #0f68b2; background-color: #ffffff; margin: 15px 30px 15px 0px;}
   #headerbar .headerbar-item .options a{ background:none; border:none; color: #0f68b2; font-size: 16px; font-weight: 400; line-height: 35px; text-transform: uppercase;}
   #headerbar .headerbar-item .options .fa-caret-down{ position: absolute; left: 160px; top: 12px;}
   #headerbar .headerbar-item  #btn_save_invoice{ min-width: 192px; height: 42px; border-radius: 5px; background-color: #0f68b2; border:none; color: #ffffff; font-size: 16px; font-weight: 400; line-height: 35px; text-transform: uppercase; margin: 15px 0px 15px 0px;}
   #headerbar .headerbar-item  #btn_save_invoice .fa-check{ display: none;}
   #headerbar{ border-bottom: 1px dashed #00a3ff;}
   hr{ border:none; margin:0px;}
   #invoice_form .invoice h3 a{ color: #0f68b2; font-size: 20px; font-weight: 400; text-transform: uppercase;}
   #invoice_form .invoice .client-address{ color: #000000; font-size: 16px; font-weight: 400; line-height: 18px;}
   #invoice_form .invoice .details-box{ border:none;}
   .invoice .invoice-properties label{ color: #90a1b5; font-size: 15px; font-weight: 400; line-height: 30px;}
   .invoice .invoice-properties .input-sm{ min-width: 192px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff; }
   .input-sm + .select2 .select2-selection { min-width: 192px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff; line-height: 30px; color: #000000; font-size: 16px; font-weight: 400;
}
   .invoice .invoice-properties .input-group{ min-width: 192px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;}
   .invoice .invoice-properties #invoice_date_created{ border:none;}
   .invoice .invoice-properties #invoice_date_due{ border:none;}
   .invoice .invoice-properties .input-group-addon{ border:none;}
   #invoice_form .invoice .btn-group{ }
   #invoice_form .invoice .btn-group .btn_add_row{ width: auto; height: 42px; color: #0f68b2; font-size: 16px; font-weight: 400; line-height: 30px; border-radius: 5px; border: 1px solid #0f68b2; background-color: #ffffff; margin-right:8px; }
   #invoice_form .invoice .btn-group .btn_add_product{ width: auto; color: #0f68b2; font-size: 16px; height: 42px; font-weight: 400; line-height: 30px; border-radius: 5px; border: 1px solid #0f68b2; background-color: #ffffff; margin-right:8px;}
   #invoice_form .invoice .btn-group .btn_add_task{ width: auto; height: 42px; color: #0f68b2; font-size: 16px; font-weight: 400; line-height: 30px; border-radius: 5px; border: 1px solid #0f68b2; background-color: #ffffff;}
   #invoice_form .invoice .panel-default{ border:none; background:none; width:100%;}
   #invoice_form .invoice .panel-default .panel-heading{ border:none; background:none; padding: 0px 15px !important; color: #90a1b5;  font-size: 15px; font-weight: 400;}
   #invoice_form .invoice .panel-default .panel-body .btn-default{ width: 192px;height: 42px; border-radius: 5px;border: 1px solid #0f68b2; background-color: #ffffff;
   color: #0f68b2; font-size: 16px; font-weight: 400; line-height: 18px;}
   #invoice_form .invoice .panel-default .panel-body #invoice_terms{ max-width: 636px; height: 126px;  border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;}
   .select2-container--default .select2-search--dropdown .select2-search__field{ height:42px;}
   
   
   #invoice_form .invoice .table-responsive .input-group .input-group-addon{ border:none; float:left; color: #90a1b5;  font-size: 15px; font-weight: 400; line-height: 18px; text-transform: uppercase; padding:0px; margin-bottom:10px;}
   #invoice_form .invoice .table-responsive  #item_table .form-control{ min-width: 175px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;}
   #invoice_form .invoice .table-responsive .table-bordered > tbody > tr > td{ border:none;}
   #invoice_form .invoice .table-responsive .table-bordered{ border:none;}
   #invoice_form .invoice .table-responsive .table > tbody + tbody{ border:none;}
   #invoice_form .invoice .table-responsive .table.items td.td-amount{/*width: 150px; height: 42px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;*/ color: #90a1b5; font-size: 15px; font-weight: 600; line-height: 14px;}
   #invoice_form .invoice .table-responsive{ padding:10px; border-radius: 5px; border: 1px solid #e0e7ee; background-color: #ffffff;}
   #invoice_form .invoice .table-responsive .input-group select { }
   
   
   .navbar { }
   .navbar-inverse { border: none; background-color: #f2f2f2;}
    .navbar-inverse .navbar-nav > li > a{ color: #445870; font-size: 16px; font-weight: 400; line-height: 18px;}
   .navbar-inverse .navbar-nav > li > a:hover{ color:#fff; background-color:#0f68b2;}
   /*.dropdown-menu > li{ height:42px; line-height:42px;}*/
   .navbar .navbar-nav .fa-caret-down{ display: none;}
   .navbar .navbar-header .img{ margin: 18px 35px 11px 10px;}
   .navbar .navbar-nav{ margin-top:11px;}
   body{ background-color:#f2f2f2; }
   /*#main-area{ box-shadow: 0 0 6px #d9d9d9; border: 1px solid #dcdcdc; background-color: #ffffff; margin:0px auto; margin-top:15px;}*/
   .invoicesview, .clientsform, .clientsstatus, .quotesstatus, .quotesview, .invoicesstatus, .recurringindex, .paymentsform, .paymentsindex, .paymentsonline_logs, .productsform, .productsindex, .familiesindex, .unitsindex, .tasksform, .tasksindex, .projectsindex {box-shadow: 0 0 6px #d9d9d9; border: 1px solid #dcdcdc; background-color: #ffffff; margin:0px auto; margin-top:15px;}
   .select2-container--default .select2-selection--single .select2-selection__rendered{ padding:5px;}
   .select2-container--default .select2-results__option{ height:42px; line-height:30px;}
   .hidden-sidebar #main-content{     padding: 15px 30px 15px 30px;}
   #main-content {position: absolute; top: 45px; left: 345px; max-width: 1100px; border: none;}
   #panel-quick-actions{ display: none;}
   .panel > .table > tbody:first-child > tr:first-child td{border:none; height:42px;}
   .table-bordered > tbody > tr > td a{ padding-left:20px;}
   .panel > .table-bordered > tbody > tr > td:first-child{height:42px;}
   .panel-default > .panel-heading span{ padding-right:5px;}
   .panel-default > .panel-heading{ height:42px; background-color:#fff; color: #0f68b2; font-size: 15px !important; font-weight: 100 !important; text-transform: uppercase; /*padding-left:25px;*/}
.panel-default > .panel-heading i{ display: none;}
.label.draft{ background-color: #fff; color: #90a1b5 !important;


font-size: 15px;

font-weight: 400;

line-height: 14px; border: 1px solid #90a1b5;} 
.table-bordered td.amount{ padding-right:20px;}   


.table-bordered > tbody > tr > td{ border-right:1px solid #fff; }
.table-bordered > tbody > tr > td.amount { border-right:1px solid #ddd;}
.table-bordered > tbody > tr > td.clearfix{ border-right:1px solid #ddd;}
.table-bordered > tbody > tr > td{ }
.panel > .table-responsive th{ text-align:left; color: #445870; font-size: 15px; font-weight: 400; line-height: 20px;}
.panel > .table-responsive .table-striped th{ height:42px; line-height:42px;}
.panel > .table-responsive .table-striped td{ height:42px; line-height:42px;}
.table-striped > tbody > tr:nth-of-type(2n+1){ background-color: #fff;}
.panel > .table-responsive .table-striped td span{  margin:0px; padding:5px; text-align:center;}
 #headerbar h1.headerbar-title{ color: #0f68b2;
font-size: 20px;
font-weight: 400;
text-transform: uppercase;
margin: 20px 0px 30px 0px; line-height:30px;} 
#headerbar .headerbar-item .btn-group .btn-danger{    min-width: 192px;
    height: 42px;
    border-radius: 5px;
    background-color: #0f68b2;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    margin: 15px 0px 15px 0px; 
}
#headerbar .headerbar-item .btn-group .btn-danger i{ display:none;}
#headerbar .headerbar-item .btn-group .btn-success{    min-width: 192px;
    height: 42px;
    border-radius: 5px;
    border: 1px solid #0f68b2;
    background-color: #ffffff;
    margin: 15px 30px 15px 0px;
    color:#0f68b2;font-size: 16px;
    font-weight: 400;
    line-height: 35px;text-transform: uppercase;
}
#headerbar .headerbar-item .btn-group .btn-success i{ display:none;}
#main-content #content .panel-default .panel-body .btn-success  { min-width: 192px;
    height: 42px;
    border-radius: 5px;
    background-color: #0f68b2;
    border: none;
    color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    line-height: 35px;
    text-transform: uppercase;
    margin: 15px 0px 15px 0px;}
    
.container #login{ max-width: 600px;
/*margin: 0px auto;*/
box-shadow: 0 0 6px #d9d9d9;
border: 1px solid #dcdcdc;
background-color: #ffffff;
border-radius: 0px;
padding: 30px;}
   
.container #login #email { max-width: 500px;

height: 42px;

border-radius: 5px;

border: 1px solid #e0e7ee;

background-color: #ffffff; margin-bottom:25px;}  
 
.container #login #password{ max-width: 500px;

height: 42px;

border-radius: 5px;

border: 1px solid #e0e7ee;

background-color: #ffffff;}  
.container #login label{display:none;}
.container #login .btn-primary{ color: #00a3ff; background-color: #fff;
border-color: #fff;


font-size: 18px;

font-weight: 400;

text-transform: uppercase;}
.container #login .btn-primary .fa-unlock{ display:none;}

.container #login .btn-default{ color: #7d8b9b; border:none;


font-size: 15px;

font-weight: 400;

text-transform: uppercase;}
.container #login form{ border-top: 1px dashed #00a3ff; padding-top:30px; margin-top:25px;}
.settingsindex{ min-height:1850px;}
.dropdown-menu>li>a{height: 42px;
    line-height: 42px;
    padding: 0px 10px;}
.dropdown-menu>li>a:hover{ background-color:#0f68b2; color:#fff;}    
.dropdown-menu{ padding:0px;}
.container #login .login-logo{  margin-top:25px;}


#main-area .sidebar{ min-width:255px; min-height: 1214px; background-image: linear-gradient(180deg, #0f68b2 0%, #002b4e 100%); position: absolute; top: 0; left: 0;}
#main-area .sidebar img{ width: 184px; height: 27px; margin-top:60px; margin-left:35px; margin-bottom:65px;}
#main-area .sidebar ul li a{ width: 213px; height: 59px; font-size: 20px; color: #ffffff; text-align: left; border:none; margin-left:42px; margin-bottom:15px; line-height:32px;} 
#main-area .sidebar ul li a i.fa{ float:left; width: 10px; margin-right:20px; margin-top:4px; margin-left:20px;}
#main-area .sidebar ul li a:hover{ width: 213px; height: 59px; border-radius: 58px 0 0 58px; background-image: linear-gradient(to right, #00a3ff 0%, #0f68b2 100%);}
#main-area .sidebar ul li a.active{ width: 213px; height: 59px; border-radius: 58px 0 0 58px; background-image: linear-gradient(to right, #00a3ff 0%, #0f68b2 100%);}
#main-content .row .info-box1{ width: 330px; height: 150px; box-shadow: 0 0 6px rgba(212, 212, 212, 0.5); border-radius: 10px; background-color: #31414e;}
#main-content .row .info-box1 h4{ color: #ffffff; font-size: 15px; font-weight: 400; padding-top:29px; padding-left:27px; padding-bottom:12px;}
#main-content .row .info-box1 h2{ color: #ffffff; font-size: 36px; font-weight: 700; padding-top:12px; padding-left:27px;}
#main-content .row .info-box1 img{ width: 123px; height: 90px; position: absolute; right: 45px; top: 52px;}

#main-content .row .info-box2{ width: 330px; height: 150px; box-shadow: 0 0 6px rgba(212, 212, 212, 0.5); border-radius: 10px; background-color: #31414e;}
#main-content .row .info-box2 h4{ color: #ffffff; font-size: 15px; font-weight: 400; padding-top:29px; padding-left:27px; padding-bottom:12px;}
#main-content .row .info-box2 h2{ color: #ffffff; font-size: 36px; font-weight: 700; padding-top:12px; padding-left:27px;}
#main-content .row .info-box2 img{ width: 82px; height: 71px; position: absolute; right: 30px; top: 72px;}

#main-content .row .info-box3{ width: 330px; height: 150px; box-shadow: 0 0 6px rgba(212, 212, 212, 0.5); border-radius: 10px; background-image: linear-gradient(135deg, #0f68b2 0%, #002b4e 100%);}
#main-content .row .info-box3 h4{ color: #ffffff; font-size: 15px; font-weight: 400; padding-top:29px; padding-left:27px; padding-bottom:12px;}
#main-content .row .info-box3 h2{ color: #ffffff; font-size: 36px; font-weight: 700; padding-top:12px; padding-left:27px;}
#main-content .row .info-box3 img{ width: 57px; height: 52px; position: absolute; right: 23px; top: 0px;}
#main-content .row .info-box3 hr{ border-top:1px solid #0f68b2; float:right; width:217px; margin-top:15px;}


#main-content .top-marg{ margin-top:40px;}
#main-content .dash-title{ color: #0f68b2; font-size: 20px; font-weight: 400; text-transform: uppercase;}
#main-content .pull-right p{ color: #b2b2b2; font-size: 14px; font-weight: 400; margin-right:10px; margin-bottom:-20px; margin-top:20px;}


/*Mobile*/
@media screen and (max-width: 1800px) and (min-width: 992px) {
  .navbar { display:none;}
}

@media screen and (max-width: 991px) and (min-width: 275px) {
  #main-area .sidebar { display:none;}
}
/*Mobile*/


/*18 June*/
#main-content .table-shadow{ width: 100%; height: auto; box-shadow: 0 0 6px rgba(212, 212, 212, 0.5); border-radius: 10px; background-color: #ffffff; padding:20px;}
#main-content .table-shadow h3{ color: #31414e; font-size: 16px; font-weight: 400; margin-top:20px; margin-bottom:15px; margin-left:8px;}
#main-content .table-shadow .table-responsive{ min-height:auto;}
#main-content .table-shadow .table-responsive .table th { text-align:left; color: #999999;  font-size: 14px; font-weight: 400; line-height: 40px; border:none;}
#main-content .table-shadow .table-responsive .table tr{ }
#main-content .table-shadow .table-responsive .table td { border:none;}
#main-content .table-shadow .table-responsive .table td { color: #393939 !important; font-size: 14px; font-weight: 400; border:none; text-align:left;}
#main-content .table-shadow .table-responsive .table td span{ border: none; text-align:left; margin:0px; padding:0px;}
#main-content .table-shadow .table-responsive .table .btn-group > .btn:first-child{ color: #808080; font-size: 15px; font-weight: 400; border-radius: 21px; border: 1px solid #808080; background-color: #ffffff;}
#main-content .table-shadow .table-responsive .table .btn-group > .btn:first-child i{ float: right; margin-left: 5px; margin-top: 4px;}
#main-content .table-shadow .table-responsive .table td.db-sts{  text-align:left; border-radius: 21px !important; border: 0px solid #00a3ff; color: #00a3ff;}
#main-content .table-shadow .pagination { display: inline-block;}
#main-content .table-shadow .pagination a { color: black; float: left; padding: 8px 16px; text-decoration: none;}
#main-content .table-shadow .pagination a.active { background-color: #0f68b2;color: white; border-radius:100px;}
#main-content .table-shadow .pagination a:hover:not(.active) {background-color: #ddd; border-radius:100px;}

/*#main-content .dash-nav ul#menu li { display:inline; padding:0px 5px;}
#main-content .dash-nav ul#menu li span{ margin-right:10px;}*/

#main-content .table-shadow .table-responsive .table td.amount{ text-align:left;}

.drop_menu {



padding:0;

margin:0;

list-style-type:none;

height:30px;
float:left;

}

.drop_menu li { float:left; }

.drop_menu li a {

padding:9px 20px;

display:block;

color:#fff;

text-decoration:none;

font:12px arial, verdana, sans-serif;

}

 

/* Submenu */

.drop_menu ul {

position:absolute;

left:-9999px;

top:-9999px;

list-style-type:none; z-index: 1000;

  border-radius: 5px;

  border: solid 1px #31414e;

  background-color: #ffffff;

}

.drop_menu li:hover { position:relative;  color:#0f68b2 }

.drop_menu li:hover ul {

left:0px;

top:30px;

/*background:#0f68b2;*/

padding:0px;

}

 

.drop_menu li:hover ul li a {

padding:5px;

display:block;

width:168px;

text-indent:15px;

/*background-color:#0f68b2;*/
color:#31414e;
height:40px; line-height:40px; font-size:14px;

}
.drop_menu li:hover ul li.active{   background-color: #31414e; }
.drop_menu li:hover ul li.active a{ color:#fff; line-height:30px; cursor: pointer; font-size:14px; }
.drop_menu li:hover ul li.active a:hover{ color:#fff; cursor: pointer;}
.drop_menu li:hover ul li a:hover {  color:#0f68b2;}

/*18 June*/

/*19 June*/
#customers {
  border-collapse: collapse;
  width: 100%;
}

#customers td, #customers th {
  /*border: 1px solid #ddd;*/
  padding: 8px;
}
#customers tr { height:75px;}
#customers tr th.due-date{ width:125px; }
#customers tr:nth-child(even){background-color: #ecf1f5;}

#customers tr:hover {background-color: #ecf1f5;}
#customers tr.tr-head:hover{ background-color: #fff;}

#customers tr td{   font-size: 14px !important; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #393939 !important;}
#customers tr td.draft span{   border-radius: 21px; border: solid 1px #808080; padding:10px 20px; color: #808080;}
#customers tr td.sent span{   border-radius: 21px; border: solid 1px #00a3ff; padding:10px 20px; color: #00a3ff;}
#customers tr td.paid span{   border-radius: 21px; border: solid 1px #68d817; padding:10px 20px; color: #68d817;}
#customers tr td .btn-group a.btn-default{ border: none; background: none; }


#customers th {
  color: #999999;
font-size: 14px;
font-weight: 400;
line-height: 40px;
border: none;
}

.sidebar ul li ul.dropdown-menu{ display: none;}
.sidebar ul li.dropdown:hover ul.dropdown-menu{
	display:block;
}
.sidebar ul li.dropdown:hover ul.dropdown-menu a{ color:#0f68b2 !important; height:45px !important; text-align:center !important; line-height:45px !important; font-size:16px !important;}

.sidebar ul li.dropdown:hover ul.dropdown-menu  li{ height:45px; text-align:center; line-height:45px;}
.sidebar ul li.dropdown:hover ul.dropdown-menu  li a:hover{ border-radius: 58px 0 0 58px; background-image: linear-gradient(to right, #00a3ff 0%, #0f68b2 100%); color:#fff !important; height:45px; line-height:45px; }
#main-content .row .info-box3 h2 a{ color:#fff;}


#main-content .table-shadow .card .card-body h4, h5{ font-size: 15px; font-weight: normal; font-style: normal; font-stretch: normal; line-height: normal; letter-spacing: normal; color: #31414e;}

 #main-content .table-shadow .table-responsive .table .btn-group > .btn:first-child{ border:none;}

.top-pro{ float:left;}
.top-pro span{ margin-right:10px;}


 
 /*New Style*/